@theme {
  --font-sans: 'Inter', sans-serif;
  --font-mono: 'Geist Mono', monospace;

  --color-background: var(--color-neutral-50);
  --color-background-secondary: var(--color-neutral-100);
  --color-primary: var(--color-neutral-800);
  --color-secondary: var(--color-neutral-500);
  --color-tertiary: var(--color-neutral-300);
  --color-separator: --alpha(var(--color-primary) / 8%);
  --color-link: var(--color-blue-500);
  --color-link-highlighted: var(--color-blue-700);
  --color-code-highlighted-line: --alpha(var(--color-neutral-200) / 75%);

  --ease-out-cubic: cubic-bezier(0.22, 0.61, 0.36, 1);
}

@utility dark-theme-colors {
  --color-background: var(--color-neutral-900);
  --color-background-secondary: --alpha(var(--color-neutral-950) / 50%);
  --color-primary: var(--color-neutral-200);
  --color-secondary: var(--color-neutral-400);
  --color-tertiary: var(--color-neutral-600);
  --color-separator: --alpha(var(--color-primary) / 12%);
  --color-link: var(--color-blue-400);
  --color-link-highlighted: var(--color-blue-300);
  --color-code-highlighted-line: --alpha(var(--color-neutral-800) / 60%);
}

@layer theme {
  :root[data-theme='dark'] {
    @apply dark-theme-colors;
  }

  @media (prefers-color-scheme: dark) {
    :root[data-theme='system'] {
      @apply dark-theme-colors;
    }
  }
}
